@import '~bootstrap/scss/bootstrap.scss';

:root {
  --event-color-one: #2563EB;
  --event-color-two: #059669;
  --event-color-three: #D97706;
  --event-color-four: #DC2626;
  --event-color-five: #0891B2;
  --event-color-six: #C026D3;
  --event-color-seven: #F59E0B;
}

// Bootstrap
a {
  text-decoration: none;
}

// Utility classes
.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}
